birdclef-2022/
venv/
misc_testing/
kaggle-birdclef2021-2nd-place/
*.pyc
*.ipynb
launch.json
ixeia*
data/*
sbatch.sh
run_sbatch_BirdClef_train.sh
sbatch_logs/*
sbatch_logs/
output/*
wandb/*
subscript.sh
spec-file.txt
subscript.sh
scratch.py
.idea/
.env
archived_code/
misc_testing/test.ipynb
misc_testing/test.py
.ipynb_checkpoints
*.out
